h1,
.hoverText,
.london {
  text-align: center;
}

h1 {
  font-family: 'Audiowide', cursive;
  color: midnightblue;
  margin-top: 20px;
}

.london {
  font-family: 'Audiowide', cursive;
  font-size: 1.5rem;
  margin-top: 14px;
}

.tomGIF {
  position: relative;
}

.hoverText {
  font-family: 'Fredoka One', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: hotpink;
  font-size: 3rem;
}

@media only screen and (max-width: 700px) {
  .hoverText {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2.5rem;
  }
} ;
